.place__text {
    margin: 0;

    display: flex;
    flex-direction: column;

    gap: 26px 0;
}

@media (max-width: 768px) {
    .place__title {
        font-size: 5.47vw;
    }
}

@media (max-width: 425px) {
    .places {
        font-size: 10vw;
    }
}